.trustedbrand{
    /* background-color: aquamarine; */
    height:5em;
    margin: 0px !important;
    background-color: white;
}
.trustedbrand h3{
    margin:0px;
    font-size: 2vw;
    color: rgb(82, 79, 79);
}
.brandname{
    display: flex;
    margin: auto;
    gap:2em;
    justify-content:center;
}
.brand{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size:2vw;
    color:rgb(235, 24, 24)
}
@media only screen and (max-width:600px){
    .trustedbrand{
        /* background-color: aquamarine; */
        height:2em;
        margin: 0px !important;
    }
}
