
.App {
  text-align: center;
  overflow: hidden;
  flex: 1;
}
*{
  text-decoration: none;
}
.Answer{
  height:0vh;
  transition: 0.2s;
  transform: scaleY(0);
  font-size: 1em;
  padding: 0;
  word-wrap: break-word;
  margin: 0;
}

.AnswerShow{
  text-align: left;
  margin:1em;
  height:2em;
  transform: scaleY(1);
}
.Nav{
  transition:1s;
}